<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>All the Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email_address }}</td>
                <td>{{ user.age }}</td>
            </tr>
        {% endfor %}
    </table>

    <h1>Add a User</h1>
    <form action="process" method="post">
        {% csrf_token %}
        <div class="user_input">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" class="text_input">
        </div>
        <div class="user_input">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" class="text_input">
        </div>
        <div class="user_input">
            <label for="email_address">Email</label>
            <input type="text" name="email_address" id="email_address" class="text_input">
        </div>
        <div class="user_input">
            <label for="age">Age</label>
            <input type="number" name="age" id="age" class="text_input">
        </div>
        <button class="user_add">Add</button>
    </form>
</body>
</html>