<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>TV Shows (all)</title>
</head>
<body>
    <h1>All Shows</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for show in shows %}
            <tr>
                <td>{{ show.id }}</td>
                <td>{{ show.title }}</td>
                <td>{{ show.network }}</td>
                <td>{{ show.released }}</td>
                <td>
                    <a href="{{ show.id }}/show">Show</a> | <a href="{{ show.id }}/edit">Edit</a> | <a href="{{ show.id }}/destroy">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/new">Add a New Show</a>
</body>
</html>