<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Django</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <h1>This is my first step</h1>
    <h2>Name: {{name}}</h2>
    <p>My favorite activity is {{fav_activity}}.</p>
    <h3>My favorite foods are</h3>
    <ul>
        {% for food in fav_foods %}
            <li>{{food}}</li>
        {% endfor %}
    </ul>
    <img src="{% static 'img/aragorn.png' %}" alt="A picture of Aragorn.">
</body>
</html>